{# widget on top of the left column when we are inside a mooc #}
{% if session is defined and session %}
    {% set mooc = session.getMooc() %}
{% elseif workspace is defined %}
    {% set mooc = workspace.getMooc() %}
{% endif %}

{% if mooc is defined and mooc %}
<div class="col-xs-12 col-md-12 slrn-widget slrn-widget--workspace">
    {# IMAGE #}
    <div class="row slrn-widget__body">
        <img 
                class="slrn-widget__image" 
                src="{{ image( mooc.getIllustrationWebPath() ).zoomCrop( 234 , 200 ) }}" 
                alt="{{ mooc.getTitle() }}"
                width="234" 
                height="200" 
        />  
    </div>
    {# PROGRESSION #}
    {% if progression is not null %}
    <div class="row slrn-widget__body bg-color-primary lesson-progression">
        <span class='presentation__mooc__progression__wrapper'>
            <span class='presentation__mooc__progression__text londrina-solid'>{{ progression }}%</span>
            <span class='presentation__mooc__progression__100'>
                <span class='presentation__mooc__progression__xx' style='width:{{ progression }}%'></span>
            </span>
        </span>
    </div>
    {% endif %}
</div>
{% endif %}
