{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block content -%}
    <h1>Workspace\MoocCategory edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_parameters_mooc_category') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
