{# Twig template for suppression confirmation in admin screen #}
    <div id="delete-validation-box" class="modal fade" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3>{{ ('delete_' ~ entityType ~ '_confirm_message')|trans({}, 'platform') }}</h3>
              </div>
              <div class="modal-body">
                  <p>{{ ('delete_' ~ entityType ~ '_confirm_title')|trans({}, 'platform') }}</p>
              </div>
              <div class="modal-footer">
                  <input type="button" id="delete-confirm-ok" class="btn btn-primary" value="{{ 'ok'|trans({}, 'platform') }}"/>
                  <input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'cancel'|trans({}, 'platform') }}"/>
              </div>
          </div>
      </div>
    </div>
    <script>
        jQuery(document).ready( function() {
            $('.js-submit-button').on('click', function(event) {
                event.preventDefault();
                deleteModal($(this));
            });

            function deleteModal(el) {
                $('#delete-validation-box')
                    .modal()
                    .one('click', '#delete-confirm-ok', function() {
                    el.closest('form').submit();
                });
            }
        });
    </script>