{% extends 'ClarolineCoreBundle:Exception:layout.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ 'internal_error' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block content %}
    {#{'internal_error'|trans({}, 'platform')}#}
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <p><b>Désolé,</b></p>
            <p>Erreur interne du serveur.<br/>
            Vous pouvez revenir à <a href="javascript:history.back()">la page précédente</a> ou à <a href="/">l'accueil.</a></p>
        </div>
    </div>
{% endblock %}
