{% extends 'ClarolineCoreBundle:Exception:layout.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ 'bad_request' | trans({}, 'platform') }}{% endblock %}

{% block content %}
    {#{'bad_request' | trans({}, 'platform') }#}
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <p><b>Désolé,</b></p>
            <p>La syntaxe de votre requête est erronée.<br/>
            Vous pouvez revenir à <a href="javascript:history.back()">la page précédente</a> ou à <a href="/">l'accueil.</a></p>
        </div>
    </div>
{% endblock %}
