{% extends 'ClarolineCoreBundle:Exception:layout.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ 'unauthorized' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block content %}
    {#{'unauthorized' | trans({}, 'platform') }#}
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <p><b>{{'sorry'|trans({}, 'platform')}},</b></p>
            <p>{{'forbidden_url'|trans({}, 'platform')}}<br/>
            {{'get_back_message'|trans({}, 'platform')|raw}}
            </p>
        </div>
    </div>
{% endblock %}
