{% extends 'ClarolineCoreBundle:Tool\\workspace\\analytics:layout.html.twig' %}

{% block analytic_content %}
    <div class="slrn-statistic-wrapper">
        <hr class="slrn-hr" />
        <legend>{{ 'mooc_analytics_keynumbers' | trans({}, 'platform') }}</legend>
        {% if keynumbers is defined and keynumbers is not empty %}
        <table class="slrn-analytics-table slrn-analytics-table--2cols">
            {% for keynumber in keynumbers %}
                <tr class="slrn-analytics-table__tr">
                    <td class="slrn-analytics-table__td">{{ keynumber['key'] }} : </td>
                    <td class="slrn-analytics-table__td slrn-bold">{{ keynumber['value']|round(2, 'common') }}</td>
                </tr>
            {% endfor %}
        </table>
        <p class="slrn-analytics-footnote">{{'analytics_keynumbers_footnote'|trans({}, 'platform')}}</p>
       {% endif %}
    </div>
{% endblock %}
