{% extends 'OrangeSearchBundle:Search:response.html.twig' %}

{% block bodyClasses %}{% endblock %}

{% block solerniHeaderImage %}
     <div class="slrn-header slrn-header--slim">
        <div class="container slrn-header_w container">
            <div class="slrn-header__body">
                <span class="slrn-header__tagimage londrina-solid">{{'consult_catalog'|trans({}, 'platform')}}</span>
                <h1 class="slrn-header__content" >{{'discover_solerni_moocs'|trans({}, 'platform')|raw}}</h1>
            </div>
        </div>
        <img class="slrn-header__bgimage" src="{{ asset('bundles/clarolinecore/images/logging_header.jpg') }}" alt="" width="1171" height="221" />
    </div>
{% endblock %}