{# render a list of user sessions using moocSessionComponent #}

{% if sessions|length == 0 %}
    <p>Vous n'êtes inscrit à aucun mooc pour l'instant</p>
    <p><a class="pink_link" href="{{ path( 'solerni_catalogue', {}) ~ '#?page=1&rpp=10&fs=type__claroline_core_mooc_moocsession&ss=ispub__true&afs=status,mcat,owner,duration,ispub&sb=false' }}">Consultez le catalogue</a> proposé par Solerni et sélectionnez le mooc de votre choix.</p>
{% else %}

    {% if sessionComponentLayout == 'slider-small' %}
        <ul class="bxslider">
    {% endif %}
            
    {% for session in sessions %}

    	{% if sessionComponentLayout == 'slider-small' %}
			<li>
		{% endif %}

        {% render controller(
            'ClarolineCoreBundle:Mooc\\Mooc:renderSessionComponent',
            {   'session':                   session,
                'showUserProgression':       true,
                'sessionComponentLayout':    sessionComponentLayout,
                'showUserProgression':       showUserProgression
            }
        ) %}

    	{% if sessionComponentLayout == 'slider-small' %}
			</li>
		{% endif %}

    {% endfor %}

    {% if sessionComponentLayout == 'slider-small' %}
        </ul>
        <script type="text/javascript">

        $(document).ready(function(){

          $('.bxslider').bxSlider({
              /*pause: 200,*/
              /*auto: true,*/
              mode: 'fade',
              infiniteLoop: false, 
              hideControlOnEnd: true
            });
        });

        </script>
    {% endif %}

{% endif %}