{# render a list of user sessions using moocSessionComponent #}

{% if sessions|length == 0 %}

    {% if sessionsAvailable|length == 0 %}

      <p>{{'no_mooc_today'|trans({}, 'platform')}}</p>
      <a class="desktop_catalogue_link" href="{{ path( 'solerni_catalogue', {}) ~ '#?page=1&rpp=10&fs=type__claroline_core_mooc_moocsession&ss=ispub__true&afs=status,mcat,owner,duration,ispub&sb=false' }}">
          <img class="desktop_catalogue_img" src='{{ asset('bundles/clarolinecore/images/ban_catalogue.png') }}' alt='Consulter le catalogue' width='695px' height='131px'/>
      </a>
    {% else %}

      {% if sessionComponentLayout == 'slider-small' %}
          <ul class="bxslider">
      {% endif %}


      {% for session in sessionsAvailable %}

        {% if sessionComponentLayout == 'slider-small' %}
          <li>
        {% endif %}

        {% render controller(
              'ClarolineCoreBundle:Mooc\\Mooc:renderSessionComponent',
              {   'session':                   session,
                  'showUserProgression':       false,
                  'sessionComponentLayout':    sessionComponentLayout,
                  'showUserProgression':       showUserProgression
              }
          ) %}
        {% if sessionComponentLayout == 'slider-small' %}
          </li>
        {% endif %}

      {% endfor %}

      {% if sessionComponentLayout == 'slider-small' %}
        </ul>
      {% endif %}

      {% if sessionComponentLayout == 'slider-small' %}
          </ul>
          <script type="text/javascript">

          $(document).ready(function(){


            $('.bxslider').css('display','block');
            $('.bxslider').bxSlider({
           {#   pause: 200,
                auto: true,  #}
                mode: 'fade',
                infiniteLoop: false,
                hideControlOnEnd: true
              });

          });

          </script>
      {% endif %}

    {% endif %}

{% else %}

    {% if sessionComponentLayout == 'slider-small' %}
        <ul class="bxslider">
    {% endif %}

    {% for session in sessions %}

    	{% if sessionComponentLayout == 'slider-small' %}
			<li>
		{% endif %}

        {% render controller(
            'ClarolineCoreBundle:Mooc\\Mooc:renderSessionComponent',
            {   'session':                   session,
                'showUserProgression':       true,
                'sessionComponentLayout':    sessionComponentLayout,
                'showUserProgression':       showUserProgression
            }
        ) %}

    	{% if sessionComponentLayout == 'slider-small' %}
			</li>
		{% endif %}

    {% endfor %}

    {% if sessionComponentLayout == 'slider-small' %}
        </ul>
        <script type="text/javascript">

        $(document).ready(function(){


          $('.bxslider').css('display','block');
          $('.bxslider').bxSlider({
         {#   pause: 200,
              auto: true,  #}
              mode: 'fade',
              infiniteLoop: false,
              hideControlOnEnd: true
            });

        });

        </script>
    {% endif %}

{% endif %}