{# Display search form #}
<li role="presentation">
    <form id='search_form' class="slrn-search-form slrn-search-form--inactive" method="GET" action="{{ path('orange_search') }}">
        <input name="q" id='q' placeholder="{{ 'search'|trans({}, 'platform') }}" class="slrn-search-form__input">
    </form>
</li>
<script>
	$("#search_form").submit(function(e){
		query = $("#q").val();

		window.location.href = "{{ path('orange_search') }}#?q=" + query;
	    return false;
	});
</script>