{# Display search form #}
<li role="presentation">
    <form id='search_form' class="slrn-search-form slrn-search-form--inactive" method="GET" action="{{ path('orange_search') }}">
        <input name="q" id='q' placeholder="{{ 'search'|trans({}, 'platform') }}" class="slrn-search-form__input">
    </form>
</li>
<script>
	$("#search_form").submit(function(e){
		keywords = $("#q").val();
                query = 'page=1&rpp=10&q='+ keywords +'&fs=&ss=&afs=mcat,owner,type&sb=false';
		window.location.href = "{{ path('orange_search') }}#?" + query;
	    return false;
	});
</script>