<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maintenance</title>
    <link rel="stylesheet" href="bundles/clarolinecore/css/bootstrap.css">
    <link rel="stylesheet" href="bundles/clarolinecore/css/solerni.css">
</head>
<body style="padding-top:100px;">
    <header id="top_bar" class="navbar navbar-inverse navbar-fixed-top slrn-navbar" style="overflow: visible;">
        <div class="container">
            <div class="navbar-header">
            </div>
            <div class="rm-navbar-collapse rm-collapse slrn-top-header">
                <a class="navbar-brand logo slrn-logo slrn-top-header__item"></a>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
           <div class="col-md-offset-3 col-md-6" style="text-align: center;">
               <img src="bundles/clarolinecore/images/logo-solerni-color.png">
           </div>
        </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <p><b>Bonjour,</b></p>
            <p>Afin d'améliorer la qualité de service du site, nous effectuons en ce moment une mise à jour.<br/>
            Le site sera de nouveau disponible dans quelques minutes.<br/>
            N'hésitez pas à vous reconnecter un peu plus tard.</p>
            <p>Merci de votre compréhension et à très bientôt.</p>
            <p>L'équipe Solerni</p>
        </div>
    </div>
</div>
</body>
</html>
